# Project dependencies
/node_modules

package-lock.json
yarn.lock
# Environment config
.env
*.csv
*.tgz
data.json
data.sql
# Compiled output
/dist
/build-migrations
/frontend

# Media uploaded
/media
**/uploads/

# Others
.DS_Store
